<a href="https://colab.research.google.com/github/jonny243/github-slideshow/blob/main/jc_individual_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import drive
import pandas as pd
import pickle
!pip install geopandas
import geopandas as gpd
from shapely.geometry import Point


drive.mount('/content/drive')
!ls "/content/drive/My Drive"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 5.1 MB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 34.9 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.2)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 32.4 MB/s
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.5.18.1)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.1)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
'220523 Interim report .docx'  'Getting started.pdf'
'Colab Notebooks'	        Imperial
 data			        intro2ml_cw1_07-master-data.zip

In [17]:
trans_file = "/content/drive/My Drive/Colab Notebooks/data/transaction_data/pp-complete-CHANGED.csv"
df = pd.read_csv(trans_file)
df.rename(columns={"Date_of_transfer": "date", "Postcode" : "postcode"}, inplace=True)
print(df)

                  Transaction_unique_identifier   Price              date  \
0        {680A511A-C9CD-4E26-84EC-B6697A53CEF8}  122000  29/09/1995 00:00
1        {FC3888F4-0BE9-452F-A2EA-B66982729FAF}   37000  22/12/1995 00:00
2        {024F306B-9F59-4D5F-8EE9-B6698ED0A538}   93500  27/07/1995 00:00
3        {4326AC9E-5FD9-47D1-AA48-B66993995051}   32000  03/03/1995 00:00
4        {B6BC448E-2915-4C44-8AE5-AF5978A922E4}   38000  08/09/1995 00:00
...                                         ...     ...               ...
1048569  {2EC63321-82C0-4155-BB2E-5CEAA0B2D5E2}  111000  25/11/1996 00:00
1048570  {54CD17AA-2048-48CB-B75F-5CEABA8E10CF}  128750  23/10/1996 00:00
1048571  {7705516E-D617-4B9C-BB40-592A7827B5B4}  122000  19/07/1996 00:00
1048572  {98825484-BDED-4EB2-8E6F-592A803F170F}  120000  04/10/1996 00:00
1048573  {7B929AED-B027-4F5A-BAE4-592A8163FD4E}  177000  04/09/1996 00:00

         postcode Property_type Old_new Freehold_leasehold         POAN  \
0        NG14 5DE             D       N                  F           14
1        CV21 2JJ             T       N                  F           18
2         UB8 2AP             D       N                  F            7
3         HD6 4AD             T       N                  F          121
4         B30 3PP             T       N                  F            2
...           ...           ...     ...                ...          ...
1048569  BS23 4LS             D       N                  F            6
1048570  OX28 5FQ             D       N                  F           53
1048571   NW8 6NT             F       N                  L  BLAIR COURT
1048572  CV47 2DU             D       N                  F      DORMERS
1048573   OX7 3QR             D       N                  F      SUNTRAP

            SOAN             STREET           LOCALITY          TOWN_CITY  \
0            NaN  HILLCREST GARDENS       BURTON JOYCE         NOTTINGHAM
1            NaN     JUBILEE STREET              RUGBY              RUGBY
2            NaN    WELLINGTON ROAD           UXBRIDGE           UXBRIDGE
3            NaN      BRADFORD ROAD          BRIGHOUSE          BRIGHOUSE
4            NaN       PARSONS HILL         BIRMINGHAM         BIRMINGHAM
...          ...                ...                ...                ...
1048569      NaN      BROWNLOW ROAD  WESTON-SUPER-MARE  WESTON-SUPER-MARE
1048570      NaN    SHERBOURNE ROAD             WITNEY             WITNEY
1048571  FLAT 62      BOUNDARY ROAD             LONDON             LONDON
1048572      NaN                NaN            BASCOTE            SOUTHAM
1048573      NaN       ENSTONE ROAD          CHARLBURY    CHIPPING NORTON

                  DISTRICT           COUNTY PPD_CAT RECORD_STATUS
0                  GEDLING  NOTTINGHAMSHIRE       A             A
1                    RUGBY     WARWICKSHIRE       A             A
2               HILLINGDON   GREATER LONDON       A             A
3               CALDERDALE   WEST YORKSHIRE       A             A
4               BIRMINGHAM    WEST MIDLANDS       A             A
...                    ...              ...     ...           ...
1048569     NORTH SOMERSET   NORTH SOMERSET       A             A
1048570   WEST OXFORDSHIRE      OXFORDSHIRE       A             A
1048571             CAMDEN   GREATER LONDON       A             A
1048572  STRATFORD-ON-AVON     WARWICKSHIRE       A             A
1048573   WEST OXFORDSHIRE      OXFORDSHIRE       A             A

[1048574 rows x 16 columns]

In [13]:
# add whether in flood zone 
def add_flood_zone_data_to_trans_df(trans_df):
    # import historic flooding events as a geo dataframe 
    flood_file = "/content/drive/My Drive/Colab Notebooks/data/Recorded_Flood_Outlines/Recorded_Flood_Outlines.shp"
    # flood_file = project_folder/"data/Recorded_Flood_Outlines/Recorded_Flood_Outlines.shp"
    gdf = gpd.read_file(flood_file)
    gdf = gdf.sort_values(by='end_date', ascending=False)
    # remove flooding events that are greater than 2025 (note dates are either correct or 2050)
    gdf['end_date'] = pd.to_datetime(gdf['end_date'])
    gdf['start_date'] = pd.to_datetime(gdf['start_date'])
    gdf = gdf[(gdf['end_date'] < '2025-04-01')]
    postcode_df = get_easting_northing_df()
    trans_df['date'] = pd.to_datetime(trans_df['date'])
    print('Starting merging')
    # add northing, easting, long and lat to transaction df
    trans_df_app = trans_df.merge(postcode_df, how = 'inner', left_on = 'postcode', right_on = 'pcd')
    # trans_df_app = add_postcode_agg_data(trans_df_app)
    print("Finish merging")
    trans_df_app = trans_df_app.join(
        trans_df_app.apply(
            lambda row: last_flood(gdf, row.oseast1m, row.osnrth1m, row.date), axis="columns"
        ))
    print("Added flooding information")
    print(trans_df_app)
    # for each postcode, create a new column with whether flooded or not 
    
    # trans_df = trans_df.join(df.apply(lambda row: last_flooding_event_bng(postcode_df, gdf, row.postcode, int(row.date[0:4])), axis="columns"))
    # df['last_year'] = df.apply(lambda row: last_flooding_event_bng(postcode_df, gdf, row.postcode, int(row.date[0:4])), axis=1)
    
    # print(df)
    trans_df_app.to_pickle(project_folder/"data/transaction_data/pp-mini-pkl-updated-years-postcode-csv.pkl")

In [12]:
def add_postcode_agg_data(df):    
    econ_activity_file = "/content/drive/My Drive/Colab Notebooks/data/postcode_aggregate_data/economic_activity.csv"
    health_file = "/content/drive/My Drive/Colab Notebooks/data/postcode_aggregate_data/health.csv"
    highest_qual_file = "/content/drive/My Drive/Colab Notebooks/data/postcode_aggregate_data/highest_qualification.csv"
    people_per_room_file = "/content/drive/My Drive/Colab Notebooks/data/postcode_aggregate_data/people_per_room.csv"
    pop_density_file = "/content/drive/My Drive/Colab Notebooks/data/postcode_aggregate_data/population_density.csv"
    rooms_central_heating_file = "/content/drive/My Drive/Colab Notebooks/data/postcode_aggregate_data/rooms_central_heating.csv"
    df1 = pd.read_csv(econ_activity_file)
    df2 = pd.read_csv(health_file)
    df3 = pd.read_csv(highest_qual_file)
    df4 = pd.read_csv(people_per_room_file)
    df5 = pd.read_csv(pop_density_file)
    df6 = pd.read_csv(rooms_central_heating_file)
    
    print(df1)
    print(df2)
    print(df3)
    print(df4)
    print(df5)
    print(df6)

    postcode_agg = df1.merge(df2, how = 'inner', left_on = 'postcode sector', right_on = 'postcode sector')
    postcode_agg = postcode_agg.merge(df3, how = 'inner', left_on = 'postcode sector', right_on = 'postcode sector')
    postcode_agg = postcode_agg.merge(df4, how = 'inner', left_on = 'postcode sector', right_on = 'postcode sector')
    postcode_agg = postcode_agg.merge(df5, how = 'inner', left_on = 'postcode sector', right_on = 'postcode sector')
    postcode_agg = postcode_agg.merge(df6, how = 'inner', left_on = 'postcode sector', right_on = 'postcode sector')

    print(postcode_agg)

In [9]:
def get_easting_northing_df():
    postcode_file = "/content/drive/My Drive/Colab Notebooks/data/postcode_data/ONSPD_MAY_2022_UK.csv"
    
    # COLUMN NAMES IN FILE:
    # pcd	pcd2	pcds	dointr	doterm	oscty	ced	oslaua osward	parish	usertype	oseast1m	osnrth1m	osgrdind	
    # oshlthau	nhser	ctry	rgn	streg	pcon	eer	teclec	ttwa pct	itl	statsward	oa01	casward	park	lsoa01	msoa01	ur01ind	oac01	
    # oa11	lsoa11	msoa11	wz11	ccg	bua11	buasd11	ru11ind	oac11	lat	long lep1	lep2	pfa	imd	calncv	stp
    
    # WANTED COLUMNS
    col_list = ['pcd', 'doterm', 'oseast1m','osnrth1m', 'ctry', 'lat', 'long']
    postcode_df = pd.read_csv(postcode_file, usecols=col_list)
    # postcode_df = postcode_df[postcode_df_2['doterm'].isna()]
    postcode_df.drop(['doterm'], axis=1, inplace=True)
    return postcode_df

In [11]:

def last_flood(gdf, easting, northing, date):
    p1 = Point(northing, easting)
    gdf_matches = gdf[gdf.contains(p1)]
    gdf_matches_2 = gdf_matches[gdf_matches['end_date'] < date] 
    if(gdf_matches_2.empty):
        return pd.Series(dict(flood_zone = False, last_flood_year = -1))
    print('Another')
    return pd.Series(dict(flood_zone = True, last_flood_year = gdf_matches_2.iloc[0].end_date))

In [19]:
df = df.head(10000)
add_flood_zone_data_to_trans_df(df)

Starting merging
Finish merging
Added flooding information
             Transaction_unique_identifier   Price       date postcode  \
0   {024F306B-9F59-4D5F-8EE9-B6698ED0A538}   93500 1995-07-27  UB8 2AP
1   {4326AC9E-5FD9-47D1-AA48-B66993995051}   32000 1995-03-03  HD6 4AD
2   {B6BC448E-2915-4C44-8AE5-AF5978A922E4}   38000 1995-08-09  B30 3PP
3   {7020D11D-FCCE-41F7-A266-B69DE4DF82C6}   58000 1995-11-04  HP3 9LS
4   {DF2A5520-3FFF-4970-BE62-B2E652EAF0DB}  139950 1995-09-15  HA5 2TP
5   {6B8605E3-41CA-40A0-B2EC-B2E65A3D28B0}   14000 1995-03-24  NG2 4AR
6   {32091EBB-397A-43EC-AA77-B2E66E75E537}   49995 1995-04-21  CO5 0DD
7   {58E7F890-9A51-4934-A4A3-B2E67623FF4F}    8000 1995-12-22  BB2 1HT
8   {9145AE71-E08F-4288-BA10-B669B580065A}   77500 1995-11-17  B60 2HA
9   {BA0A22AD-5095-4A2F-BCEB-B69E02B7A8EE}   36500 1995-01-12  HU7 0DW
10  {5F603E31-C552-4D06-9ADB-B69E17807B1D}  105000 1995-03-10  SS8 7NY
11  {D94CFABA-FA67-4D1B-ADBF-B69E28681B5D}   56500 1995-12-10  S10 1NF
12  {A2C835AA-CC59-41FF-A781-B2E6A14219B1}  110950 1995-02-06  LE8 6QX
13  {3416BB5E-BBBB-4185-8E83-B2E6D39AF6D9}   39950 1995-02-28  HU9 1QD
14  {732BE0B5-057A-4A31-A73A-B669DBD2C7DD}   33950 1995-02-28  HD8 9FG
15  {C003EFEA-88DD-42C7-9D1C-B66A0E5A613D}   49950 1995-10-27  HX6 4RZ
16  {32B53837-2F93-4A2E-B238-B66A0E9CA4AC}   84950 1995-05-22  M45 7BN
17  {36A5C01C-FDB8-4741-BC6F-AF59ADEB490A}  110000 1995-09-29  TQ4 6HY
18  {C0174694-C423-4BE2-B3D4-AF59B16E0C1D}   36500 1995-05-23  WV6 0RS
19  {52EB7F05-D308-4A1E-8567-AF59C25293C1}   75250 1995-03-24  CA2 7SQ
20  {ECAC08D7-8BFB-4465-9BAF-BA256A1D65AB}   45000 1995-08-09  FY1 6RW
21  {66FEF64F-25F3-4921-9D5E-B69E40568F0B}   54000 1995-11-22  CR0 4LP
22  {87B46B2C-A020-468D-B92E-B2E6F073B74A}   94000 1995-01-12  M20 2YD
23  {8FFDE7F7-C01B-4EA7-A21B-B69E8153730A}   96000 1995-12-09  DN6 7UW
24  {C9096CB5-EB18-4F00-91FA-B69E929BB4BA}   82000 1995-07-07  LE2 1TB
25  {4EDE2CFE-289E-4346-811E-B69E9F77331A}   47500 1995-11-27  PR4 5YJ
26  {FA45638D-C587-4FA2-B29F-B69EA8F3735C}  108000 1995-08-09  CT8 8QE
27  {5A2DA565-21A6-4CFF-9196-AF5A1AE038E1}   87500 1995-10-08  B17 9HE
28  {7CE5A28F-36B0-4FCC-B69B-AF5A2E0D16AF}  235000 1995-12-20  SW5 0NA
29  {48C3ADB3-87FF-4F9E-AD44-AF5A34002DC8}   44500 1995-09-29  NG8 3EE
30  {BC5284CD-A5AB-4B6F-9F24-AF5A4580796C}   44000 1995-04-13  TF4 3NA
31  {E9CA8D75-06A9-453F-9FE7-AF5A46563E91}   75500 1995-02-24  B74 3EL
32  {7035B080-3C81-4802-A656-BA25BE4D743C}   50000 1995-11-24  WN6 9JS
33  {E3DA03B2-CFD0-450A-95EB-B2E72F4F5B8D}  150000 1995-12-01  N10 2HA
34  {2DEEE781-95A5-4024-8BF1-B2E73B0C549C}   40500 1995-03-31  NG6 7DT
35  {D7031ED4-DCEA-4658-B728-B2E756A6C64C}   55000 1995-07-31  CM9 5EA
36  {A9F4DC34-EEDA-45E8-AAF1-AF5A835E5A44}   27500 1995-03-02  CF5 1QL
37  {4C824AE4-01BC-4055-928B-B69F0CFF86BF}   52000 1995-05-09  PR4 2AH
38  {DB1F5597-1494-4F44-9FFD-BA25EA906429}   48500 1995-06-10  SY3 7BY
39  {980ED488-10B3-4A4B-B130-BA2601845AEF}   45500 1995-09-22  SN8 1NG
40  {53746F79-D223-41BB-99E9-BA2605644177}   26500 1995-07-14  PE7 1AN
41  {913A78C3-E872-492C-9302-B69F42847F49}   56000 1995-06-23  LU4 9EZ
42  {58E28E7D-1F2E-4DE8-84FB-B2E77DCA3A8D}   48500 1995-11-15  M33 3BH
43  {F7EABC12-2FBB-4D78-9C9A-B2E77F0AE34B}   74000 1995-03-17  BR3 4JE
44  {3A2F402C-932D-4682-86E7-BA2657339C22}   49000 1995-09-06  PR3 1ND
45  {095CB3AA-12BC-4E97-81C3-AF5AE1F470C8}   83000 1995-03-05  RH1 1DN
46  {A340CF98-F6B1-4592-A27F-B69F778B82C6}   54000 1995-08-18  E10 5DH
47  {E6556C9C-2B15-44C1-8A27-BA266DB92F83}   46000 1995-10-02  PL2 3AQ
48  {7C64E4D3-4A24-45F9-AE37-BA26748CD1E5}   59000 1995-11-30  KT2 5NF
49  {E7599919-4B36-422D-A3E0-B69FB479130D}  195000 1995-09-15  W11 4JG
50  {88E5718D-E041-4B7C-8B10-B69FCC581545}   51000 1995-10-27  CA7 5JH
51  {E7B40CF6-D355-458E-AAA0-B2E79C0EC6C8}   33000 1995-01-12  NP8 1LF
52  {6ABC0822-E07E-4567-ADEE-B2E7B9849F31}  101000 1995-02-06  TW7 6ST

   Property_type Old_new Freehold_leasehold              POAN          SOAN  \
0              D       N                  F                 7           NaN
1              T       N                  F               121           NaN
2              T       N                  F                 2           NaN
3              T       Y                  F                38           NaN
4              D       N                  F                 1           NaN
5              T       N                  F                33           NaN
6              T       N                  F                12           NaN
7              T       N                  F                10           NaN
8              S       N                  L                36           NaN
9              S       N                  F               160           NaN
10             D       N                  F               207           NaN
11             T       N                  L                 7           NaN
12             D       Y                  F                 1           NaN
13             F       Y                  L                52           NaN
14             F       Y                  L                14           NaN
15             F       Y                  L  RISHWORTH PALACE  APARTMENT 66
16             D       Y                  L                 8           NaN
17             S       N                  F                73           NaN
18             S       N                  F               226           NaN
19             D       Y                  F                32           NaN
20             S       N                  F               258           NaN
21             T       N                  F                 7           NaN
22             T       N                  F                24           NaN
23             D       Y                  F                11           NaN
24             T       N                  F                16           NaN
25             S       N                  F                29           NaN
26             D       N                  F               105           NaN
27             T       N                  F               131           NaN
28             F       N                  L                49        FLAT C
29             S       N                  F                17           NaN
30             T       N                  F                19           NaN
31             S       N                  F                15           NaN
32             D       N                  L                 7           NaN
33             T       N                  F                 3           NaN
34             S       N                  F                39           NaN
35             D       N                  F   THE OLD ORCHARD           NaN
36             F       N                  L               19B           NaN
37             T       N                  F                40           NaN
38             T       N                  F                37           NaN
39             T       N                  F                 2           NaN
40             S       N                  F                41           NaN
41             S       N                  F                42           NaN
42             F       N                  L                 2           NaN
43             F       N                  L                 3           NaN
44             S       N                  F                29           NaN
45             T       N                  F                31           NaN
46             T       N                  F                68           NaN
47             S       N                  F                72           NaN
48             T       N                  F                64           NaN
49             F       N                  L              105B           NaN
50             S       N                  F    GREENSIDE FARM             2
51             D       N                  F      ROSE COTTAGE           NaN
52             T       Y                  F                46           NaN

                  STREET  ... PPD_CAT RECORD_STATUS      pcd  oseast1m  \
0        WELLINGTON ROAD  ...       A             A  UB8 2AP  505324.0
1          BRADFORD ROAD  ...       A             A  HD6 4AD  414643.0
2           PARSONS HILL  ...       A             A  B30 3PP  405445.0
3              LONG JOHN  ...       A             A  HP3 9LS  506936.0
4       BURLINGTON CLOSE  ...       A             A  HA5 2TP  510971.0
5          KINGSLEY ROAD  ...       A             A  NG2 4AR  459043.0
6             ELTON WALK  ...       A             A  CO5 0DD  589597.0
7       WHITEHEAD STREET  ...       A             A  BB2 1HT  367315.0
8           FULTON CLOSE  ...       A             A  B60 2HA  396895.0
9        FOREDYKE AVENUE  ...       A             A  HU7 0DW  510601.0
10     EASTERN ESPLANADE  ...       A             A  SS8 7NY  580956.0
11             MONA ROAD  ...       A             A  S10 1NF  433309.0
12          ELLIOT CLOSE  ...       A             A  LE8 6QX  456053.0
13        LANCELOT COURT  ...       A             A  HU9 1QD  511086.0
14           TALLOW MEWS  ...       A             A  HD8 9FG  423349.0
15   RISHWORTH MILL LANE  ...       A             A  HX6 4RZ  403632.0
16          THE FAIRWAYS  ...       A             A  M45 7BN  380653.0
17           BRUNEL ROAD  ...       A             A  TQ4 6HY  290021.0
18  NEWHAMPTON ROAD WEST  ...       A             A  WV6 0RS  389956.0
19         GOSFORTH ROAD  ...       A             A  CA2 7SQ  336800.0
20             PARK ROAD  ...       A             A  FY1 6RW  332060.0
21          BOROUGH HILL  ...       A             A  CR0 4LP  531642.0
22         DARLEY AVENUE  ...       A             A  M20 2YD  383124.0
23         KESTREL DRIVE  ...       A             A  DN6 7UW  453718.0
24        CENTRAL AVENUE  ...       A             A  LE2 1TB  460080.0
25           DALE AVENUE  ...       A             A  PR4 5YJ  347466.0
26              SEA ROAD  ...       A             A  CT8 8QE  631717.0
27        PARK HILL ROAD  ...       A             A  B17 9HE  403678.0
28    COURTFIELD GARDENS  ...       A             A  SW5 0NA  525917.0
29     GREENDALE GARDENS  ...       A             A  NG8 3EE  453700.0
30         SOUTHALL ROAD  ...       A             A  TF4 3NA  369009.0
31          BURNETT ROAD  ...       A             A  B74 3EL  408654.0
32           MOOR AVENUE  ...       A             A  WN6 9JS  353172.0
33         GOODWYNS VALE  ...       A             A  N10 2HA  528524.0
34          SANKEY DRIVE  ...       A             A  NG6 7DT  453277.0
35           MANSE CHASE  ...       A             A  CM9 5EA  585176.0
36          RECTORY ROAD  ...       A             A  CF5 1QL  316428.0
37        POULTON STREET  ...       A             A  PR4 2AH  342452.0
38      MORETON CRESCENT  ...       A             A  SY3 7BY  349778.0
39          KENNET PLACE  ...       A             A  SN8 1NG  419007.0
40         HIGH CAUSEWAY  ...       A             A  PE7 1AN  527065.0
41        HASKETON DRIVE  ...       A             A  LU4 9EZ  504836.0
42        HAMILTON COURT  ...       A             A  M33 3BH  378948.0
43           CEDARS ROAD  ...       A             A  BR3 4JE  536771.0
44      GRIZEDALE AVENUE  ...       A             A  PR3 1ND  348742.0
45           FURZE CLOSE  ...       A             A  RH1 1DN  527595.0
46           FARMER ROAD  ...       A             A  E10 5DH  537968.0
47       BEAUMONT STREET  ...       A             A  PL2 3AQ  246475.0
48          ARCHER CLOSE  ...       A             A  KT2 5NF  518271.0
49        CLARENDON ROAD  ...       A             A  W11 4JG  524237.0
50                   NaN  ...       A             A  CA7 5JH  322952.0
51                   NaN  ...       A             A  NP8 1LF  320513.0
52      CLYDESDALE CLOSE  ...       A             A  TW7 6ST  515938.0

    osnrth1m       ctry        lat      long  flood_zone last_flood_year
0   183840.0  E92000001  51.543638 -0.482589       False              -1
1   423331.0  E92000001  53.706205 -1.779655       False              -1
2   278873.0  E92000001  52.407836 -1.921384       False              -1
3   206235.0  E92000001  51.744621 -0.452515       False              -1
4   189842.0  E92000001  51.596503 -0.399297       False              -1
5   339487.0  E92000001  52.949525 -1.122698       False              -1
6   216546.0  E92000001  51.815377  0.749233       False              -1
7   428176.0  E92000001  53.748922 -2.497119       False              -1
8   270023.0  E92000001  52.328290 -2.046985       False              -1
9   431701.0  E92000001  53.769917 -0.323409       False              -1
10  182650.0  E92000001  51.513791  0.606477       False              -1
11  387820.0  E92000001  53.386197 -1.500665       False              -1
12  295891.0  E92000001  52.557978 -1.174632       False              -1
13  428515.0  E92000001  53.741190 -0.317198       False              -1
14  410460.0  E92000001  53.590205 -1.648734       False              -1
15  417929.0  E92000001  53.657841 -1.946518       False              -1
16  404842.0  E92000001  53.539863 -2.293403       False              -1
17   56880.0  E92000001  50.401475 -3.548851       False              -1
18  299717.0  E92000001  52.595153 -2.149709       False              -1
19  555238.0  E92000001  54.887872 -2.986755       False              -1
20  434930.0  E92000001  53.806207 -3.033150       False              -1
21  165224.0  E92000001  51.370824 -0.110198       False              -1
22  391852.0  E92000001  53.423190 -2.255415       False              -1
23  408930.0  E92000001  53.574229 -1.190241       False              -1
24  302668.0  E92000001  52.618466 -1.114012       False              -1
25  425563.0  E92000001  53.723812 -2.797641       False              -1
26  169985.0  E92000001  51.381588  1.328555       False              -1
27  285019.0  E92000001  52.463103 -1.947293       False              -1
28  178794.0  E92000001  51.494076 -0.187580       False              -1
29  341847.0  E92000001  52.971298 -1.201820       False              -1
30  306735.0  E92000001  52.657446 -2.459597       False              -1
31  298744.0  E92000001  52.586434 -1.873702       False              -1
32  409665.0  E92000001  53.581473 -2.708772       False              -1
33  190586.0  E92000001  51.599464 -0.145718       False              -1
34  345200.0  E92000001  53.001478 -1.207567       False              -1
35  206248.0  E92000001  51.724370  0.679685       False              -1
36  176890.0  W92000004  51.484764 -3.204961       False              -1
37  432115.0  E92000001  53.782179 -2.874840       False              -1
38  312110.0  E92000001  52.704332 -2.744700       False              -1
39  169067.0  E92000001  51.420301 -1.728048       False              -1
40  297249.0  E92000001  52.558252 -0.127100       False              -1
41  224668.0  E92000001  51.910690 -0.477344       False              -1
42  391786.0  E92000001  53.422446 -2.318250       False              -1
43  169224.0  E92000001  51.405559 -0.035021       False              -1
44  445046.0  E92000001  53.899035 -2.781557       False              -1
45  150667.0  E92000001  51.240921 -0.173507       False              -1
46  187509.0  E92000001  51.569579 -0.010683       False              -1
47   56109.0  E92000001  50.384777 -4.160866       False              -1
48  170402.0  E92000001  51.420302 -0.300469       False              -1
49  180766.0  E92000001  51.512171 -0.211049       False              -1
50  556461.0  E92000001  54.896921 -3.202914       False              -1
51  216272.0  W92000004  51.839374 -3.155114       False              -1
52  175814.0  E92000001  51.469425 -0.332234       False              -1

[53 rows x 24 columns]

NameError: ignored